.message {
    height: 700px;
    background-color: rgba(0, 0, 0, 0.99);
    overflow: hidden;
    background-image: url(../../assets/arnold.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 800px;
}

.message-text {
    padding-top: 100px;
    color: white;
    line-height: 1.5;
}